#    ____ _ _   ___
#   / ___(_) |_|_ _|__ _ _ __   ___  _ __ ___
#  | |  _| | __|| |/ _` | '_ \ / _ \| '__/ _ \
#  | |_| | | |_ | | (_| | | | | (_) | | |  __/
# (_)____|_|\__|___\__, |_| |_|\___/|_|  \___|
#                  |___/
#

# Ignore files created by the operating system.
**/.directory
**/Thumb.db

# Do not add editor helper-files to the repository.
.kateproject.d/
nbproject/
**/*~
**/*.kate-swp

# Do not add NPM packages to the repository.
**/node_modules/

# Do not store generated and temporary files in the repository.
**/*.log
